<div class="container element">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      
      <button 
      type="button" 
      class="btn btn-info"
      (click)="onChangeFirst()"
      >Change First Element(in app-comp)</button>

      <button 
      type="button" 
      class="btn btn-danger"
      (click)="onDestroyFirst()"
      >Destroy First Component (in app-comp)</button>

      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- listening to an even emitted from some-control.component.ts and template, 
      and upot this event firing method onIntervalFired() from app.component.ts -->
      <app-some-control (aliasInternalFiredEvent)="onIntervalFired($event)"></app-some-control>
    </div>
  </div>
</div>

<!-- //lecture 69 -->
<!-- [srvElement]="serverElement" -->
<!-- binding to the property in the component <app-server-element> element (alias: srvElement ) -->
<!-- and we assign then for it to be filled from the app.component.ts aray serverElement -->
<!-- in the cockpit.component.ts you need:  -->
<!-- @Input('srvElement') element: {type: string, name: string, content: string }; -->